<div class="container">
  <div class="row">
    <h1>最近このようなお悩みはありませんか？<hr></h1>
  </div>
  <div>
    <ul>
      <li>脳が重たい感じがして集中力が持続しない</li>
      <li>ぼーっとしているはずなのに考え事が止まらない</li>
      <li>布団に入っても仕事が気になり寝付けない</li>
      <li>忙しすぎてちょっとしたことでイライラする</li>
      <li>食後眠くなってしまってパフォーマンスが低下する</li>
    </ul>
  </div>
  <p class="about-introduce">
    上記に１つでも当てはまる方は、サウナに入ることで改善できます。</br>
    ここでは、様々なサウナのメリットや、医学的に正しいサウナの入り方を紹介します。
  </p>
  <div class="row">
    <h1 class="mt-3">サウナのメリット<hr></h1>
  </div>
  <div class="row">
    <h1 class="mt-3">サウナの入り方<hr></h1>
  </div>
</div>