<div class="container">
  <div class="row">
    <h1>最近このようなお悩みはありませんか？<hr></h1>
  </div>
  <div>
    <ul>
      <li>脳が重たい感じがして集中力が持続しない</li>
      <li>ぼーっとしているはずなのに考え事が止まらない</li>
      <li>布団に入っても仕事が気になり寝付けない</li>
      <li>忙しすぎてちょっとしたことでイライラする</li>
      <li>食後眠くなってしまってパフォーマンスが低下する</li>
    </ul>
  </div>
  <p class="about-color">
    上記に１つでも当てはまる方は、サウナに入ることで症状を改善できます。</br>
    ここでは、様々なサウナのメリットや、医学的に正しいサウナの入り方を紹介します。
  </p>
  <div class="row">
    <h1 class="mt-3">サウナのメリット<hr></h1>
  </div>
  <div>
    <ol>
      <li>脳疲労が取れて、頭がスッキリし、集中が持続する</li>
      <li>感情的にならなくなる</li>
      <li>睡眠の質が向上し、短時間で深い瑞みんを得られるようになる</li>
      <li>血流が増加し、肩こり・腰痛・眼精疲労が和らぐ</li>
      <li>自律神経が鍛えられてメンタルが安定する</li>
      <li>免疫が上がり、うつ病や認知症のリスクを低減する</li>
      <li>美肌効果があり、痩せ体質になれる</li>
    </ol>
  </div>
  <div class="row">
    <h1 class="my-3">サウナの入り方<hr></h1>
  </div>
  <div>
    <h4 class="about-color mb-3">前提知識</h4>
    <div class="about-color mb-3">
      サウナ⇨水風呂⇨外気浴(3〜4セット)</br>
      ※セットの途中で行動を追加するのはNG（セット間に違うことをするのはOK）
    </div>
  </div>
  <div>
    <h4 class="about-color mb-3">サウナ</h4>
    <ol>
      <li>むらなく全身を温めるため、できるだけ体の高低差をなくして入る</li>
      <li>心拍数が通常の２倍になった時に出る（時間や汗の量で決めるのはベストではない）</li>
    </ol>
  </div>
  <div>
    <h4 class="about-color my-3">水風呂</h4>
    <ol>
      <li>水風呂の温度は16〜17度が最適</li>
      <li>入る時きは大きく息を吸った後、吐きながら入る</li>
      <li>出る目安は脈が平常時に戻ったら出る</li>
    </ol>
  </div>
  <div>
    <h4 class="about-color my-3">外気浴</h4>
    <ol>
      <li>気化熱で体が冷えないようにするため、水風呂から出たら手早くタオルで体を拭く</li>
      <li>一番体の整いを感じられる時間は約2分</br>そのため、水風呂を出たら速やかに移動</li>
      <li>姿勢は横になるのがベストだが、椅子に座るのでもOK</li>
      <li>時間は5~10分</li>
    </ol>
  </div>
  <div>
    <p class="about-reference">加藤容崇(2020) . 『医者が教えるサウナの教科書』 . ダイヤモンド社 .(参考)</p>
  </div>
</div>