<h1>Public::Homes#top</h1>
<p>Find me in app/views/public/homes/top.html.erb</p>

<%= link_to "サウナ一覧",saunas_path,class:"nav-link text-dark" %>

<%= image_tag 'huum-K65M3GbRYq8-unsplash', size: "200x200" %>