// Place all the styles related to the public/users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

li {
  color: rgb(0,0,0);
}

.about-color {
  color: rgb(0,0,0);
}

.about-reference {
  color: rgb(0,0,0);
  text-align: right
}